In [16]:
import os
import django
import sys

from django.forms.models import model_to_dict

# simpan banyak data
import pandas as pd
from django.db import transaction

sys.path.append(os.path.abspath(".."))

os.environ.setdefault("DJANGO_SETTINGS_MODULE", "django_orm_lab.settings")

django.setup()

os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"


from pathlib import Path

In [35]:
from myapp.models import *

In [19]:
path_daftar_mahasiswa = Path.cwd() / "assets/daftar_mahasiswa.xlsx"
path_daftar_mahasiswa.exists()

True

In [31]:
df = pd.read_excel(path_daftar_mahasiswa, converters={"no_wa": str, "nim": str})
df.no_wa

0      085214055491
1      082127319472
2      085396746832
3      082283078256
4      082293221300
           ...
160    081267906569
161    082197831701
162    082299272039
163    082398800869
164    082293814909
Name: no_wa, Length: 165, dtype: object

In [49]:
pd.DataFrame(Tugas.objects.all().values()).judul.to_numpy()

array(['Membuat Makalah tentang Perangkat Keras'], dtype=object)

In [58]:
mhs = Mahasiswa.objects.get(nim="22650185")

In [55]:
mhs.id

328

In [52]:
tgs = Tugas.objects.get(id="2")

In [60]:
Submission.objects.get(mahasiswa=mhs)

In [19]:
mhs1 = Mahasiswa.objects.first()
mhs1_s = pd.Series(model_to_dict(mhs1))

In [28]:
Submission.objects.all()

In [29]:
Mahasiswa.objects.all().delete()

(0, {})

In [22]:
pd.DataFrame([mhs1_s]).to_clipboard(index=False)

In [14]:
mhs1._meta.fields

(<django.db.models.fields.BigAutoField: id>,
 <django.db.models.fields.CharField: nim>,
 <django.db.models.fields.CharField: nama>,
 <django.db.models.fields.CharField: jurusan>,
 <django.db.models.fields.IntegerField: angkatan>,
 <django.db.models.fields.EmailField: email>)

In [10]:
Mahasiswa.objects.create(
    nim="23005",
    nama="Rudi Hartono",
    jurusan="Teknik Informatika",
    angkatan=2024
)

In [ ]:
# simpan banyak
def upload_csv(request):
    if request.method == "POST":
        csv_file = request.FILES['file']
        df = pd.read_csv(csv_file)

        mahasiswa_list = [
            Mahasiswa(
                nama=row['nama'],
                nim=row['nim'],
                jurusan=row['jurusan']
            )
            for _, row in df.iterrows()
        ]

        with transaction.atomic():
            Mahasiswa.objects.bulk_create(mahasiswa_list)

        # return render(request, "upload_success.html")

    # return render(request, "upload_form.html")

In [33]:
mahasiswa_list = []
mahasiswa_list = [
    Mahasiswa(
        nim=row['nim'],
        nama=row['nama_mahasiswa'],
        jurusan=row['jurusan'],
        angkatan=row['angkatan'],
        no_wa=row['no_wa'],
        alamat=row['alamat'],
        tempat_lahir=row['tempat_lahir'],
        tanggal_lahir=row['tanggal_lahir']
    )
    for _, row in df.iterrows()
]

In [34]:
with transaction.atomic():
    Mahasiswa.objects.bulk_create(mahasiswa_list)

In [27]:
Mahasiswa.objects.all()

<QuerySet [<Mahasiswa: 22650133 - SRI SULASTRI>, <Mahasiswa: 22650151 - ALIF RAIHAN>, <Mahasiswa: 22650152 - FAUZAN NURFAJAR. I>, <Mahasiswa: 22650153 - NASTHAB SANIDA.L>, <Mahasiswa: 22650154 - MUH FAISAL RAMA>, <Mahasiswa: 22650155 - IFING NUR KOMALA>, <Mahasiswa: 22650156 - DYAH CHANDRA P>, <Mahasiswa: 22650157 - ASRIATI AWADIA>, <Mahasiswa: 22650158 - WA ODE MUTIARA PINKAN AYU>, <Mahasiswa: 22650159 - NUR FEBRIYANI AMI>, <Mahasiswa: 22650160 - MUHAMAD RIFLAN>, <Mahasiswa: 22650161 - OKI JAYA GUNA>, <Mahasiswa: 22650163 - WA LASTRI>, <Mahasiswa: 22650162 - MIRANDA>, <Mahasiswa: 22650164 - TIARA>, <Mahasiswa: 22650165 - WA NILAM>, <Mahasiswa: 22650166 - JESTIA>, <Mahasiswa: 22650168 - MUHAMMAD ASFAR DANI>, <Mahasiswa: 22650169 - AMELIA NUR AVIVAH>, <Mahasiswa: 22650170 - WA ODE BALQIS SELVIA>, '...(remaining elements truncated)...']>

In [28]:
df.no_wa

0      85214055491
1      82127319472
2      85396746832
3      82283078256
4      82293221300
          ...
160    81267906569
161    82197831701
162    82299272039
163    82398800869
164    82293814909
Name: no_wa, Length: 165, dtype: int64